footer{
    background-color: black;
    height: 15vh;
    padding: 25px;
}
footer .social{
    text-align: center;
    a{
        font-size: 40px;
        color: white;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.9;
        cursor: default;
        transition: all 200ms ease;
    }
    a:hover{
        opacity: 0.9;
        color: aqua;
        transform: translateY(-4%)
    } 
}
footer .copyright{
    text-align: center;
    font-size: 13px;
    color: white;
    margin-top: 15px;
}
