@media(min-width: 1024px){

    .titulos{
        font-size: 28px;
        color: white;
        font-weight: lighter;
        font-family: 'Cinzel Decorative';
        gap: 10px;
        letter-spacing: 3px;
        }
    
}