@media(min-width: 768px){

    .titulos{
        font-size: 26px;
        color: white;
        font-weight: lighter;
        font-family: 'Cinzel Decorative';
        gap: 10px;
        letter-spacing: 3px;
        }
    }