@media(min-width: 576px){

    .titulos{
        font-size: 22px;
        color: white;
        font-weight: lighter;
        font-family: 'Cinzel Decorative';
        gap: 10px;
        letter-spacing: 3px;
        }
    }
    .footerPaginas{
        height: 13vh;
    }
    .headerPaginas{
        height: 100px;
    }